<nb-layout>
  <nb-layout-header>
    <!-- <button nbButton (click)="toggleTheme()">Toggle Theme</button> -->
    <p class="h5 m-0">Session Chat</p>
    <nb-actions size="medium">
      <nb-action icon="home-outline" routerLink="/home" title="Home">Home</nb-action>
      <nb-action icon="paper-plane-outline" routerLink="/create-session" title="Create Session"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
