<nb-layout>
  <nb-layout-header>
    <!-- <button nbButton (click)="toggleTheme()">Toggle Theme</button> -->
    <p class="m-0 text-lg font-semibold leading-none">Session Chat</p>
    <nb-actions size="medium">
      <nb-action icon="home-outline" routerLink="/home" title="Home">Home</nb-action>
      <nb-action icon="paper-plane-outline" routerLink="/create-session" title="Create Session"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="mx-auto w-full max-w-6xl px-4 sm:px-6">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
