<div class="container height-100">
  <div class="row justify-content-center align-items-center height-100">
    <div class="col-8">
      <nb-card>
        <nb-card-body>
          <nb-card-body>
            <form>
              <div class="container">
                <div class="row justify-content-center align-items-center mb-4">
                  <div class="col-10">
                    <nb-form-field>
                      <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                      <input fullWidth name="uid" type="text" [(ngModel)]="uId" nbInput />
                    </nb-form-field>
                  </div>
                </div>
                <div class="row justify-content-center align-items-center">
                  <div class="col-10">
                    <button nbButton fullWidth status="primary" (click)="login()">Sign In</button>
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
