<div class="mx-auto grid max-w-3xl gap-6 py-10">
  <div class="mt-4 text-center">
    <h3>Welcome to Session Chat!</h3>
  </div>
  <div>
    <nb-card>
      <nb-card-body>
        <p class="text-lg leading-8">
          If you're looking for a secure & easy way to chat with a number of invdividuals for... well we're not
          asking questions, then look no further. Create a secure session in seconds. If you're really dealing
          with some serious stuff, a self hosting option is available also.
        </p>
      </nb-card-body>
    </nb-card>
  </div>
  <div>
    <nb-card>
      <nb-card-body>
        <div class="grid gap-8">
          <div>
            <h5>Get started today</h5>
          </div>
          <div class="text-center">
            <button nbButton status="info" size="giant" routerLink="/create-session">Create Session</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
