<div class="container height-100">
  <div class="row gy-4 justify-content-center align-items-center">
    <div class="col-12 text-center mt-5">
      <h3>Welcome to Session Chat!</h3>
    </div>
    <div class="col-8">
      <nb-card>
        <nb-card-body>
          <p class="fs-5 lh-base">
            If you're looking for a secure & easy way to chat with a number of invdividuals for... well we're
            not asking questions, then look no further. Create a secure session in seconds. If you're really
            dealing with some serious stuff, a self hosting option is available also.
          </p>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-8">
      <nb-card>
        <nb-card-body>
          <div class="container">
            <div class="row">
              <div class="col">
                <h5>Get started today</h5>
              </div>
              <div class="row text-center my-5">
                <div class="col">
                  <button nbButton status="info" size="giant" routerLink="/create-session">
                    Create Session
                  </button>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
